<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hello</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="app">
        <input type="text" v-model="pageName" required>
        <div>{{pageName}}</div>
        <button @click="createPage">Создать страницу</button>
        <ul class="pageList">
            <li v-for="(page, index) in pageList" :key="index">
            {{ index }} - {{ page }} <button @click="deletePage(page)">Удалить</button>
            </li>
        </ul>
    </div>

    <script src="bundle.js"></script>
</body>
</html>