<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hello</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<!--     <div id="app">
        <input type="text" v-model="pageName" required>
        <div>{{pageName}}</div>
        <button @click="createPage">Создать страницу</button>
        <ul class="pageList">
            <li v-for="(page, index) in pageList" :key="index">
            {{ index }} - {{ page }} <button @click="deletePage(page)">Удалить</button>
            </li>
        </ul>
    </div> -->
    <iframe src="" frameborder="0"></iframe>
    
    <div id="app">
        <div class="panel">
            <button class="uk-button uk-button-primary uk-button-small" uk-toggle="target: #modal-open">Страницы</button>        
            <button class="uk-button uk-button-primary uk-button-small" uk-toggle="target: #modal-example">Опубликовать</button>        
            <button class="uk-button uk-button-primary uk-button-small button-down"><i class="fas fa-chevron-down"></i></button>  
            <div uk-dropdown class="dropdown-menu"><button class="uk-button uk-button-primary uk-button-small" uk-toggle="target: #modal-backup">Восстановить бэкап</button> </div>      
        </div>
        <!-- This is the modal -->
        <div id="modal-example" uk-modal>
            <div class="uk-modal-dialog uk-modal-body">
                <h2 class="uk-modal-title">Сохранение</h2>
                <p>Вы действительно хотите сохранить и опублиовать изменения?</p>
                <p class="uk-text-right">
                    <button class="uk-button uk-button-default uk-modal-close" type="button">Отменить</button>
                    <button class="uk-button uk-button-primary uk-modal-close" type="button" @click="onBtnSave">Сохранить</button>
                </p>
            </div>
        </div>
        <!-- This is the modal -->
        <div id="modal-open" uk-modal>
            <div class="uk-modal-dialog uk-modal-body">
                <h2 class="uk-modal-title">Страницы</h2>
                <p>Список доступных страниц</p>
                <ul class="uk-list uk-list-divider">
                    <li v-for="(item, index) in pagesList"><a class="uk-link-muted uk-modal-close" href="#" @click="openPage(item)">{{item}}</a></li>
                </ul>
                <p class="uk-text-right">
                    <button class="uk-button uk-button-primary uk-modal-close" type="button">Закрыть</button>
                </p>
            </div>
        </div>
        <!-- This is the modal -->
        <div id="modal-backup" uk-modal>
            <div class="uk-modal-dialog uk-modal-body">
                <h2 class="uk-modal-title">Бекапы</h2>
                <p>Список доступных бэкапов</p>
                <div class="uk-alert-danger" uk-alert v-if="!backupList.length">
                    <p>Не найдено резервных копий</p>
                </div>                
                <ul class="uk-list uk-list-divider">
                    <li v-for="(item, index) in backupList"><a class="uk-link-muted uk-modal-close" href="#" @click="restoreBackup(item)">{{item.page}} - {{ item.time}}</a></li>
                </ul>
                <p class="uk-text-right">
                    <button class="uk-button uk-button-primary uk-modal-close" type="button">Закрыть</button>
                </p>
            </div>
        </div>
        <div class="loader" v-bind:class="{'active': showLoader}">
            <div uk-spinner></div>
        </div>
    </div>
    <script src="bundle.js"></script>
    <script src="https://kit.fontawesome.com/6bd2fa87b4.js" crossorigin="anonymous"></script>
</body>
</html>